# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Specific keeps
!.gitkeep
p03/.DS_Store
p04/.DS_Store
*.mat
*.stan
docs/p09/analysis_ready_Time.RData
docs/p09/fitQ_ABK_FYP_Time
docs/p09/.DS_Store
docs/p08/ESS11_France/ESS11e04_1-subset codebook.html
docs/p08/.DS_Store
docs/p06/MR1_P1_SURVEY_N3577_20250407.sav
docs/p06/MR2_P1_SURVEY_N2154_20251003.sav
docs/p06/fit0.rds
docs/p06/fit1.rds
docs/p06/modelfit0_o.rds
docs/p06/modelfit1.rds
docs/p06/modelfit1_o.rds
docs/p06/modelfit2.rds
docs/p06/modelfit2_o.rds
docs/p06/modelfit2_o_sens.rds
docs/p06/modelfit2_sens.rds
docs/p06/modelfit2_sens4.rds
docs/p08/ESS11_France/ESS11_France.csv
docs/p06/data_long.rds
docs/p04/.DS_Store
docs/p04/.DS_Store
docs/p02/Codebook (PDF).webloc
*.webloc
docs/p02/Codebook (PDF).webloc
docs/p02/Codebook (PDF).webloc
docs/p09/.RDataTmp
docs/p09/fitQ_explicit_Time.RData
docs/p09/loo_objects_Time.RData
docs/p09/preprocessed_Time_behavior.RData
p06.zip
p08/ESS11_France/ESS11_France.csv
p08/ESS11_France/ESS11e04_1-subset codebook.html
p09.zip
